{% include 'header.html' %}
<div class="container-fluid" style = "padding-top:7px;background-color:#F0FFFF;">
    <div class="row">
        <div class="col-lg-3 mx-auto">&nbsp;</div>
        <div class="col-lg-6 mx-auto">
              <table width = "100%">
                <tr>
                    <td style = "text-align:center">
                        <form name = "books_form" method = "POST" action = "/books">
                            <i class="fa-solid fa-book-open" style = 'font-weight:bold;color:black;'></i>
                            <a href = "javascript:void();" onclick = "showBooks()" class = "linkMenu">Books</a>
                        </form>
                    </td>
                    <td style = "text-align:center">
                        <form name = "all_members_borrowals_form" method = "POST" action = "/allborrowals">
                            <i class="fa fa-regular fa-address-book" style = 'font-weight:bold;color:black;'></i>
                            <a href = "javascript:void();" onclick = "showAllBorrowalsAdmin()" class = "linkMenu">All Borrowals</a>
                        </form>
                    </td>
                    <td style = "text-align:center">
                        <form name = "logout_form" method = "POST" action = "/logout">
                            <i class="fa-solid fa-door-open"  style = 'font-weight:bold;color:black;'></i>
                            &nbsp;<a href = "javascript:void();" onclick = "doLogout();" class = "linkMenu">logout</a>
                        </form>
                    </td>
                     <td style = "text-align:center;font-weight:bold;">
                        <i class="fa fa-solid fa-circle-user"></i>
                        {{ user_name }} (Admin)
                    </td>
                </tr>
              </table>
        </div>
        <div class="col-lg-3 mx-auto">&nbsp;</div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            {% include 'modal.html' %}
        </div>
    </div>
    <br/>
    <input type = "hidden" id = "startRow" value = "{{start}}"/>
    <input type = "hidden" id = "hidLang" value = "2"/>
    <input type = "hidden" id = "hidSearch" value = ""/>
    <input type = "hidden" id = "hidOrder" value = "2"/>
    <div class = "row">
        <div class="col-lg-1 mx-auto;">&nbsp;</div>
        <div class="col-lg-10 mx-auto;">
            <div id = "membersPane" style = "padding:10px;height:75vh;overflow:auto;">
            </div>
        </div>
        {% include 'modal.html' %}
        <div class="col-lg-1 mx-auto;">&nbsp;</div>
    </div>
</div>
<script>
    setPageTitle("fa fa-solid fa-users", "Members");
    listMembers();
</script>