{% include 'header.html' %}
<form name = "login_form" id = "login_form" method = "post" action = "/login" onsubmit= "return false">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                {% include 'modal.html' %}
                <fieldset>
                    <div class="row">&nbsp;</div>
                    <div class="form-group">
                        <label class="col-form-label" for="textinput"><i class="fa fa-solid fa-user faicon"></i> User</label>
                        <input id="txt_user" name="txt_user" type="text" class="form-control" value = "" />
                    </div>

                    <!-- Password input-->
                    <div class="form-group">
                        <label class="col-form-label" for="passwordinput"><i class="fa fa-solid fa-key faicon"></i>Password</label>
                        <input id="txt_pwd" name="txt_pwd" type="password" placeholder="" class="form-control input-md" value = "" />
                    </div>

                    <label class="col-form-label" for="index"></label>
                    <button class="btn btn-primary" onclick = "doLogin()">Submit</button>
                </fieldset>
            </div>
        </div>
    </div>
</form>

{% include 'message.html' %}

<script>
    setPageTitle("fa fa-solid fa-right-to-bracket", "Login");
</script>

</body>
</html>
