{% include 'header.html' %}
<form name = "login_form" id = "login_form" method = "post" action = "/login" onsubmit= "return false">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                {% include 'modal.html' %}
                <fieldset>
                    <!-- Form Name -->
                    <div class="text-left pt-20 pageTitle">
                        <i class="fa fa-solid fa-right-to-bracket pageTitle"></i></i>
                        Login
                    </div>
                    <div class="row">
                        &nbsp;
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="textinput"><i class="fa fa-solid fa-user faicon"></i> User</label>
                        <input id="txt_user" name="txt_user" type="text" class="form-control" value = "anbabu"/>
                    </div>

                    <!-- Password input-->
                    <div class="form-group">
                        <label class="col-form-label" for="passwordinput"><i class="fa fa-solid fa-key faicon"></i>Password</label>
                        <input id="txt_pwd" name="txt_pwd" type="password" placeholder="" class="form-control input-md" value = "password" />
                    </div>

                    <label class="col-form-label" for="index"></label>
                    <button class="btn btn-primary" onclick = "doLogin()">Submit</button>
                </fieldset>
            </div>
        </div>
    </div>
</form>

{% include 'message.html' %}
</body>
</html>
